--extra-index-url https://pypi.org/simple/
pip>=24.2
setuptools>=67.8.0  # Adding setuptools for distutils dependency
streamlit==1.16.0
pandas==2.0.3
plotly==5.8.0
transformers==4.31.0
torch==2.3.1
numpy==1.23.5
scipy==1.11.2
tornado>=6.4.2 # not directly required, pinned by Snyk to avoid a vulnerability
